.card {
	display: grid;
	gap: 1em;
	grid-template-rows: max-content 1fr;
}

.image {
	width: 100%;

	object-fit: cover;
	object-position: center;

	border-radius: 10px;

	transition: transform ease-in-out 250ms;

	aspect-ratio: 9 / 16;
}

.card:hover .image {
	transform: translateY(-1em);
}

.info {
	display: grid;
	grid-template-rows: max-content max-content 1fr;
}

.title {
	font-weight: 500;
}

.rating {
	display: flex;
	align-items: center;

	font-weight: 700;
}

.bottom {
	align-self: end;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.icon {
	width: 1.5em;
	height: 1.5em;
}
