.card {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	border: none;

	overflow: unset;
}

.image {
	border-radius: inherit;

	object-position: top center;

	transition: transform ease-in-out 250ms;

	aspect-ratio: 3 / 4;
}

.card:hover .image {
	transform: translateY(-1em);
}

.header {
	padding-top: 0;
	padding-bottom: 0;
}

.header__content {
	overflow: hidden;

	max-height: 74px;
}

.title {
	font-weight: 500;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.subtitle {
	white-space: break-spaces;
}

.content {
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding-top: 0;
	padding-bottom: 0;
	margin-top: auto;
}

.rating {
	display: flex;
	align-items: center;

	font-weight: 700;
}
