.wrapper {
	box-shadow: none;
}

.container {
	display: grid;
	grid-template-columns: max-content max-content 1fr max-content;
	align-items: center;
	gap: 2em;
}

.logo {
	width: 138px;
	aspect-ratio: 16 / 9;
}

.login {
	font-weight: 500;
}

.search {
	justify-self: end;

	width: clamp(250px, 100%, 400px);
}
