.wrapper {
	display: grid;
	gap: 2.5em;

	width: min(calc(100% - 2em), 440px);

	padding: 2em;
}

.top {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	gap: 1em;
}

.logo {
	width: 100px;
	height: auto;
}

.title {
	font-weight: 700;
}

.bottom {
	text-align: center;
	font-weight: 500;
}

.link {
	font-weight: 400;
}
